button {background:#cccccc;width:80;font: 8pt verdana,arial,sans-serif}
.finishbutton {background:#ffcccc;width:80;font: 8pt verdana,arial,sans-serif}
body {background:#dddddd; font: 8pt verdana,arial,sans-serif; margin:0px; padding:0px; filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=#cccccc, EndColorStr=white);}
