button {background:#cccccc;width:100;font: 8pt verdana,arial,sans-serif}
.button {background:#cccccc;width:100;font: 8pt verdana,arial,sans-serif}
.finishbutton {background:#cccccc;width:100;font: 8pt verdana,arial,sans-serif}
.noerrorbutton {background:#cccccc;width:100;font: 10pt verdana,arial,sans-serif}
body {background:#dddddd; font: 8pt verdana,arial,sans-serif; margin:0px; padding:0px; filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr=#669999, EndColorStr=white);}
