<TABLE  cellSpacing=10 cellPadding=2 width="600" align=center border=0 rules=NONE>
  <TR>
    <TD align=left valign ="top" >&nbsp;</TD>
  </TR>
  <TR>
    <TD align=left><FONT size="+4px"><U>Enqu&ecirc;te</U></FONT></TD>
  </TR>
  <TR>
    <TD align=left valign ="top" ><FONT size="+2px">&nbsp;</FONT></TD>
  </TR>
  <TR>
    <TD align=left valign ="top" ><FONT size="+2px">Demandes de renseignements &agrave; l'interne
</FONT></TD>
  </TR>
  <TR>
    <TD align=left valign ="top" ><FONT size="+2px">V&eacute;rifications de banques de donn&eacute;es</FONT></TD>
  </TR>
  <TR>
    <TD align=left valign ="top" ><FONT size="+2px">Surveillance <br>
    <DL><DD>Physique
        <DD>Technique
    </DL>
    </FONT></TD>
  </TR>
  <TR>
    <TD align=left valign ="top" ><FONT size="+2px">Demandes de renseignements &agrave; l'externe </FONT></TD>
  </TR>
  <TR>
    <TD align=left valign ="top" ><FONT size="+2px">Fouilles et exhibits <br>
        <DL><DD>Photos
        <DD>Cha&icirc;ne de possession
        <DD>Expertises
    </DL>
  </FONT></TD>
  </TR>
  <TR>
    <TD align=left valign ="top" ><FONT size="+2px">&nbsp;</FONT></TD>
  </TR>
</TABLE>
