<TABLE  cellSpacing=10 cellPadding=0 width="600" align=center border=1 rules=NONE>
  <TR>
    <TD align=center valign ="top" nowrap >&nbsp;</TD>
  </TR>
  <TR>
    <TD align=center><H1><U>Requ&eacute;rant</U></H1> </TD>
  </TR>
  <TR>
    <TD align=center valign ="top" nowrap ><FONT size="+5px">&nbsp;</FONT></TD>
  </TR>
  <TR>
    <TD align=center valign ="top" nowrap ><H1><U>Enqu&ecirc;teur</U></H1>&nbsp;</TD>
  </TR>
  <TR>
    <TD align=center valign ="top" nowrap ><FONT size="+5px">&nbsp;</FONT></TD>
  </TR>
<TR>
    <TD align=center valign ="top" nowrap ><FONT size="+5px">Loto-Qu&eacute;bec <br>
		Direction des enqu&ecirc;tes <br>
		Vice-pr&eacute;sidence corporative &agrave; la s&eacute;curit&eacute; <br>
		500, rue Sherbrooke Ouest,<br>
		Bureau 1600 <br>
		Montr&eacute;al (Qu&eacute;bec) <br>
		H3A 3G6 <br>
		T&eacute;l&eacute;phone : 514 282-8000 poste <br>
</FONT></TD>
  </TR>
</TABLE>
