<TABLE  cellSpacing=10 cellPadding=0 width="600" align=center border=1 rules=NONE>
  <TR>
    <TD align=center valign ="top" nowrap >&nbsp;</TD>
  </TR>
  <TR>
    <TD align=center><H1><U>Requ&eacute;rant</U></H1> </TD>
  </TR>
  <TR>
    <TD align=center valign ="top" nowrap ><FONT size="+5px">&nbsp;</FONT></TD>
  </TR>
  <TR>
    <TD align=center valign ="top" nowrap ><H1><U>Enqu&ecirc;teur</U></H1>&nbsp;</TD>
  </TR>
  <TR>
    <TD align=center valign ="top" nowrap ><FONT size="+5px">&nbsp;</FONT></TD>
  </TR>
<TR>
    <TD align=center valign ="top" nowrap ><FONT size="+5px">Casino du Lac-Leamy <br>
		1, boulevard du Casino <br>
		Gatineau (Qu&eacute;bec) <br>
		J8Y 6W3 <br>
		T&eacute;l&eacute;phone : 819 772-2100 poste <br>
</FONT></TD>
  </TR>
</TABLE>
