<TABLE  cellSpacing=10 cellPadding=0 width="600" align=center border=1 rules=NONE>
  <TR>
    <TD align=left valign ="top"  >&nbsp;</TD>
  </TR>
  <TR>
    <TD align=left><FONT size="+4px"><U>Introduction</U></FONT></TD>
  </TR>
  <TR>
    <TD align=left valign ="top"  ><FONT size="+2px">&nbsp;</FONT></TD>
  </TR>
  <TR>
    <TD align=left valign ="top"  ><FONT size="+2px"><b>Mandat</b></FONT></TD>
  </TR>
  <TR>
    <TD align=left valign ="top"  ><FONT size="+2px">&nbsp;</FONT></TD>
  </TR>
  <TR>
    <TD align=left valign ="top"  ><FONT size="+2px"><b>Origine de l'enqu&ecirc;te</b> </FONT></TD>
  </TR>
  <TR>
    <TD align=left valign ="top"  ><FONT size="+2px">&nbsp;</FONT></TD>
  </TR>
  <TR>
    <TD align=left valign ="top"  ><FONT size="+2px"><b>Objet de l'enqu&ecirc;te</b> <br>
    <DL><DD>Lieu de l'incident
        <DD>Sommaire de l'incident
        <DD>Identification des personnes impliqu&eacute;es
    </DL>
    </FONT></TD>
  </TR>
  <TR>
    <TD align=left valign ="top"  ><FONT size="+2px">&nbsp;</FONT></TD>
  </TR>
</TABLE>
