<TABLE  cellSpacing=0 cellPadding=0 width="100%" align=left border=1>
<TR>
    <TD colspan="2"><FONT size=5><b><U>Kiosque Loto-Qu&eacute;bec</U></b></FONT> </TD>
  </TR>
  <TR>
    <TD align=right valign ="top" nowrap width="20%"><STRONG>Date (jj-mm-aaaa) : </STRONG></TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
  <TR>
    <TD align=right valign ="top" nowrap width="20%" ><STRONG>Heure : </STRONG></TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
  <TR>
    <TD align=right valign ="top" nowrap width="20%"><STRONG>Nom de l'agent : </STRONG></TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
  <TR>
    <TD colspan="2"><FONT size=5><b><U>Renseignements relatifs au kiosque</U></b></FONT> </TD>
  </TR>
  <TR>
    <TD align=right valign ="top" nowrap width="20%"><STRONG>Adresse du kiosque : </STRONG></TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
  <TR>
    <TD align=right valign ="top" nowrap width="20%">&nbsp;</TD>
    <TD>Num&eacute;ro civique     Nom de la rue</TD>
  </TR>
  <TR>
    <TD align=right valign ="bottom" nowrap width="20%"><STRONG>Ville du kiosque : </STRONG></TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
  <TR>
    <TD align=right valign ="top" nowrap width="20%"><STRONG>Num&eacute;ro de l'op&eacute;rateur : </STRONG></TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
  <TR>
    <TD align=right valign ="top" nowrap width="20%"><STRONG>Num&eacute;ro du syst&egrave;me : </STRONG></TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
  <TR>
    <TD align=right valign ="top" nowrap width="20%"><STRONG>Probl&egrave;mes : </STRONG></TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
</TR>
</TABLE>