<TABLE  cellSpacing=5 cellPadding=2 width="100%" align=left border=1 >
  <TR>
    <TD colspan="2"><FONT size=5><b><U>Rapport d'observation</U></b></FONT> </TD>
  </TR>
  <TR>
    <TD align=right nowrap width="20%"><STRONG>Personne impliqu&eacute;e 1 : </STRONG></TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
  <TR>
    <TD align=right nowrap width="20%" ><STRONG>Personne impliqu&eacute;e 2 : </STRONG></TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
  <TR>
    <TD align=right nowrap width="20%"><STRONG>Personne impliqu&eacute;e 3 : </STRONG></TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
  <TR>
    <TD align=right nowrap width="20%"><STRONG>R&eacute;sum&eacute; : </STRONG></TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
  <TR>
    <TD align=right nowrap width="20%"><STRONG>Commentaires/Observations : </STRONG></TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
</TABLE>
