<TABLE id="TablePersonne1" cellSpacing="0" cellPadding="0" width="100%" align="left" border="1">

  <TR>
    <TD colspan="2"><STRONG><U>Personne impliqu&eacute;e</U></STRONG> </TD>
</TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">R&ocirc;le : </TD>
    <TD bgcolor="#dfdfff" id="role">&nbsp;</TD>
</TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Num&eacute;ro de client BIJOU : </TD>
    <TD bgcolor="#dfdfff" id="numeroBijou">&nbsp;</TD>
 </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Num&eacute;ro AE, AG ou AI : </TD>
    <TD bgcolor="#dfdfff" id="numeroAeAgAi">&nbsp;</TD>
 </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Index du sujet : </TD>
    <TD bgcolor="#dfdfff" id="indexSujet">&nbsp;</TD>
 </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Nom : </TD>
    <TD bgcolor="#dfdfff" id="nom">&nbsp;</TD>
 </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Pr&eacute;nom :</TD>
    <TD bgcolor="#dfdfff" id="prenom">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Date de naissance :</TD>
    <TD bgcolor="#dfdfff" id="dateNaissance">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">&Acirc;ge :</TD>
    <TD bgcolor="#dfdfff" id="age">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Sexe :</TD>
    <TD bgcolor="#dfdfff" id="sexe">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Alias : </TD>
    <TD bgcolor="#dfdfff" id="alias">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Ethnie : </TD>
    <TD bgcolor="#dfdfff" id="ethnie">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Race : </TD>
    <TD bgcolor="#dfdfff" id="race">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Langue : </TD>
    <TD bgcolor="#dfdfff" id="langue">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Num&eacute;ro municipal : </TD>
    <TD bgcolor="#dfdfff" id="numeroMunicipal">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Type de rue : </TD>
    <TD bgcolor="#dfdfff" id="typeRue">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Rue : </TD>
    <TD bgcolor="#dfdfff" id="nomRue">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Point cardinal : </TD>
    <TD bgcolor="#dfdfff" id="pointCardinal">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Unite : </TD>
    <TD bgcolor="#dfdfff" id="unite">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Num&eacute;ro unite : </TD>
    <TD bgcolor="#dfdfff" id="numeroUnite">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Adresse postale : </TD>
    <TD bgcolor="#dfdfff" id="adressePostal">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Ville : </TD>
    <TD bgcolor="#dfdfff" id="ville">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Province : </TD>
    <TD bgcolor="#dfdfff" id="province">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Pays : </TD>
    <TD bgcolor="#dfdfff" id="pays">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Code postal : </TD>
    <TD bgcolor="#dfdfff" id="codePostal">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">T&eacute;l&eacute;phone r&eacute;sidence : </TD>
    <TD bgcolor="#dfdfff" id="telephoneResidence">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">T&eacute;l&eacute;phone (autre) : </TD>
    <TD bgcolor="#dfdfff" id="telephoneAutre">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Adresse &eacute;lectronique : </TD>
    <TD bgcolor="#dfdfff" id="adresseElectronique">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Num&eacute;ro de permis : </TD>
    <TD bgcolor="#dfdfff" id="numeroPermisConduire">&nbsp;</TD>
  </TR>
  <TR>
    <TD colspan="2"><STRONG><U>Caract&eacute;ristiques</U></STRONG></TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Taille : </TD>
    <TD bgcolor="#dfdfff" id="taille">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Cheveux : </TD>
    <TD bgcolor="#dfdfff" id="cheveux">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Masse : </TD>
    <TD bgcolor="#dfdfff" id="masse">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Autre : </TD>
    <TD bgcolor="#dfdfff" id="autreCaracteristiques">&nbsp;</TD>
  </TR>
 </TABLE>
