<TABLE id="TablePersonne1" cellSpacing="0" cellPadding="0" width="100%" align="left" border="1">

  <TR>
    <TD colspan="2"><STRONG><U>People involved</U></STRONG> </TD>
</TR>
  <TR>
    <TD align="right" valign ="top" nowrap="nowrap" width="20%">Role: </TD>
    <TD bgcolor="#dfdfff" id="role">&nbsp;</TD>
</TR>
  <TR>
    <TD align="right" valign ="top" nowrap="nowrap" width="20%">BIJOU Client Number: </TD>
    <TD bgcolor="#dfdfff" id="numeroBijou">&nbsp;</TD>
 </TR>
  <TR>
    <TD align="right" valign ="top" nowrap="nowrap" width="20%">AE, AG or AI Number: </TD>
    <TD bgcolor="#dfdfff" id="numeroAeAgAi">&nbsp;</TD>
 </TR>
  <TR>
    <TD align="right" valign ="top" nowrap="nowrap" width="20%">Individual Index: </TD>
    <TD bgcolor="#dfdfff" id="indexSujet">&nbsp;</TD>
 </TR>
  <TR>
    <TD align="right" valign ="top" nowrap="nowrap" width="20%">Name: </TD>
    <TD bgcolor="#dfdfff" id="nom">&nbsp;</TD>
 </TR>
  <TR>
    <TD align="right" valign ="top" nowrap="nowrap" width="20%">First Name:</TD>
    <TD bgcolor="#dfdfff" id="prenom">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign ="top" nowrap="nowrap" width="20%">Birth Date:</TD>
    <TD bgcolor="#dfdfff" id="dateNaissance">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign ="top" nowrap="nowrap" width="20%">Age:</TD>
    <TD bgcolor="#dfdfff" id="age">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign ="top" nowrap="nowrap" width="20%">Sex:</TD>
    <TD bgcolor="#dfdfff" id="sexe">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign ="top" nowrap="nowrap" width="20%">Nickname: </TD>
    <TD bgcolor="#dfdfff" id="alias">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign ="top" nowrap="nowrap" width="20%">Ethnic Group: </TD>
    <TD bgcolor="#dfdfff" id="ethnie">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign ="top" nowrap="nowrap" width="20%">Race: </TD>
    <TD bgcolor="#dfdfff" id="race">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign ="top" nowrap="nowrap" width="20%">Language: </TD>
    <TD bgcolor="#dfdfff" id="langue">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Civic Number : </TD>
    <TD bgcolor="#dfdfff" id="numeroMunicipal">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Street Type : </TD>
    <TD bgcolor="#dfdfff" id="typeRue">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Street : </TD>
    <TD bgcolor="#dfdfff" id="nomRue">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Cardinality : </TD>
    <TD bgcolor="#dfdfff" id="pointCardinal">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Unit : </TD>
    <TD bgcolor="#dfdfff" id="unite">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Unit Number : </TD>
    <TD bgcolor="#dfdfff" id="numeroUnite">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign="top" nowrap="nowrap" width="20%">Postal Address : </TD>
    <TD bgcolor="#dfdfff" id="adressePostal">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign ="top" nowrap="nowrap" width="20%">Town: </TD>
    <TD bgcolor="#dfdfff" id="ville">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign ="top" nowrap="nowrap" width="20%">Province: </TD>
    <TD bgcolor="#dfdfff" id="province">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign ="top" nowrap="nowrap" width="20%">Country: </TD>
    <TD bgcolor="#dfdfff" id="pays">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign ="top" nowrap="nowrap" width="20%">Postal Code: </TD>
    <TD bgcolor="#dfdfff" id="codePostal">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign ="top" nowrap="nowrap" width="20%">Telephone at home: </TD>
    <TD bgcolor="#dfdfff" id="telephoneResidence">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign ="top" nowrap="nowrap" width="20%">Telephone (other): </TD>
    <TD bgcolor="#dfdfff" id="telephoneAutre">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign ="top" nowrap="nowrap" width="20%">Email: </TD>
    <TD bgcolor="#dfdfff" id="adresseElectronique">&nbsp;</TD>
  </TR>  
  <TR>
    <TD align="right" valign ="top" nowrap="nowrap" width="20%">Licence Number: </TD>
    <TD bgcolor="#dfdfff" id="numeroPermisConduire">&nbsp;</TD>
  </TR>
  <TR>
    <TD colspan="2"><STRONG><U>Attributes</U></STRONG></TD>
  </TR>
  <TR>
    <TD align="right" valign ="top" nowrap="nowrap" width="20%">Height: </TD>
    <TD bgcolor="#dfdfff" id="taille">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign ="top" nowrap="nowrap" width="20%">Hair: </TD>
    <TD bgcolor="#dfdfff" id="cheveux">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign ="top" nowrap="nowrap" width="20%">Weight: </TD>
    <TD bgcolor="#dfdfff" id="masse">&nbsp;</TD>
  </TR>
  <TR>
    <TD align="right" valign ="top" nowrap="nowrap" width="20%">Other: </TD>
    <TD bgcolor="#dfdfff" id="autreCaracteristiques">&nbsp;</TD>
  </TR>
 </TABLE>
