<p align=center style='text-align:center'><b><u>Profil d&#39;un joueur RFC</u></b></p>

<p align=left style='text-align:left'>Date d&#39;ouverture du dossier RFC&nbsp;:
</p>
<p align=left style='text-align:left'>Nom du joueur&nbsp;:
</p>
<p align=left style='text-align:left'>Type de loterie&nbsp;:
</p>
<p align=left style='text-align:left'>Explications des num&eacute;ros choisis&nbsp;:
</p>
<p align=left style='text-align:left'>Somme d&eacute;bours&eacute;e pour l&#39;achat des loteries&nbsp;:
</p>
<p align=left style='text-align:left'>Nom et num&eacute;ro d&eacute;taillant d&#39;achat&nbsp;:
</p>
<p align=left style='text-align:left'>Nom et num&eacute;ro d&eacute;taillant de validation&nbsp;:
</p>
<p align=left style='text-align:left'>Autre particularit&eacute;&nbsp;:
</p>
	