<p align=center style='text-align:center'><b><u>R&eacute;clamation RFC - confirmation des habitudes de jeu</u></b></p>

<p align=left style='text-align:left'>Date de la r&eacute;clamation&nbsp;: 
</p>
<p align=left style='text-align:left'>Num&eacute;ro de la r&eacute;clamation&nbsp;: 
</p>
<p align=left style='text-align:left'>Total du/des lot(s)&nbsp;: 
</p>
<p align=left style='text-align:left'>Type de loterie&nbsp;: 
</p>
<p align=left style='text-align:left'>Type de mise&nbsp;: 
</p>
<p align=left style='text-align:left'>Nom et num&eacute;ro d&eacute;taillant d&#39;achat&nbsp;: 
</p>
<p align=left style='text-align:left'>Nom et num&eacute;ro d&eacute;taillant de validation&nbsp;: 
</p>
<p align=left style='text-align:left'>Autre particularit&eacute;&nbsp;: 
</p>
