<TABLE  cellSpacing=0 cellPadding=0 width="100%" align=left border=1 >
  <TR>
    <TD colspan="2"><FONT size=5><b><U>S&eacute;curit&eacute; Loto-Qu&eacute;bec</U></b></FONT> </TD>
  </TR>
  <TR>
    <TD align=right valign ="top" nowrap width="20%"><STRONG>Type d'&eacute;v&eacute;nement : </STRONG></TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
  <TR>
    <TD align=right valign ="top" nowrap width="20%" ><STRONG>Date et heure du d&eacute;but de l'&eacute;v&eacute;nement : </STRONG></TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
  <TR>
    <TD align=right valign ="top" nowrap width="20%"><STRONG>Date et heure de fin de l'&eacute;v&eacute;nement : </STRONG></TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
  <TR>
    <TD align=right valign ="top" nowrap width="20%"><STRONG>Lieu de l'&eacute;v&eacute;nement : </STRONG></TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
  <TR>
    <TD align=right valign ="top" nowrap width="20%"><STRONG>Personne(s) impliqu&eacute;e(s) : </STRONG></TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>

  <TR>
    <TD align=right valign ="top" nowrap width="20%"><STRONG>Sommaire :</STRONG></TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
  <TR>
    <TD align=right valign ="top" nowrap width="20%"><STRONG>Actions prises : </STRONG></TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
  <TR>
    <TD align=right valign ="top" nowrap width="20%"><STRONG>Suivi(s) &agrave; effectuer :</STRONG></TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
   </TABLE>
