<TABLE  cellSpacing=0 cellPadding=3 width="80%" align=left border=1 >

  <TR>
    <TD align=center valign ="top" nowrap width="20%">&nbsp;</TD>
    <TD valign ="top">&nbsp;</TD>
    <TD valign ="top">&nbsp;</TD>
</TR>
  <TR>
    <TD align=center valign ="top" nowrap width="20%">&nbsp;</TD>
    <TD valign ="top">&nbsp;</TD>
     <TD valign ="top">&nbsp;</TD>
</TR>
  <TR>
    <TD align=center valign ="top" nowrap width="20%">&nbsp;</TD>
    <TD valign ="top">&nbsp;</TD>
    <TD valign ="top">&nbsp;</TD>
  </TR>
 </TABLE>
