<TABLE  cellSpacing=0 cellPadding=0 width="100%" align=left border=1 >

  <TR>
    <TD colspan="2"><STRONG><U>V&eacute;hicule</U></STRONG> </TD>
</TR>
  <TR>
    <TD align=right valign ="top" nowrap width="20%">Marque : </TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
</TR>
  <TR>
    <TD align=right valign ="top" nowrap width="20%">Mod&egrave;le : </TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
 </TR>
  <TR>
    <TD align=right valign ="top" nowrap width="20%">Ann&eacute;e :</TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
  <TR>
    <TD align=right valign ="top" nowrap width="20%">Assurance :</TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
  <TR>
    <TD align=right valign ="top" nowrap width="20%">Immatriculation :</TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
  <TR>
    <TD align=right valign ="top" nowrap width="20%">Num&eacute;ro de police :</TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
  <TR>
    <TD align=right valign ="top" nowrap width="20%">Date d'expiration : </TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
  <TR>
    <TD align=right valign ="top" nowrap width="20%">Province : </TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
  <TR>
    <TD colspan="2"><STRONG><U>Particularit&eacute;s : </U></STRONG></TD>
  </TR>
  <TR>
    <TD align=right valign ="top" nowrap width="20%">Type : </TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
  <TR>
    <TD align=right valign ="top" nowrap width="20%">Couleur : </TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
  <TR>
    <TD align=right valign ="top" nowrap width="20%">D&eacute;tail : </TD>
    <TD bgcolor="#dfdfff">&nbsp;</TD>
  </TR>
</TABLE>
